* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

/*=============== colors =============*/
:root {
  --background-color: #fff;
  --cards-background-color: #fff;
  --cards-container-color: #e6e6e6;
  --text-color: #0d0d0d;
  --description-color: #595959;
  --button-color: #e10531;
  --button-text-color: #fff;
}

/*================ navbar ===============*/
nav {
  height: 70px;
  border: 1px solid black;
}

.navbar {
  display: block;
  margin: auto;
  height: 100%;
  width: 80%;
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  align-items: center;
}

.navbar img {
  height: 60px;
}

.nav-links {
  display: block;
  margin: auto;
  display: flex;
  justify-content: center;
}

.nav-links li {
  margin: 0 10px;
  list-style: none;
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
}

.nav-links li a {
  color: var(--text-color);
  position: relative;
}

.nav-links li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1.5px;
  left: 0;
  bottom: 0;
  background-color: var(--text-color);
  transition: width 0.4s ease-in-out;
}

.nav-links li a:hover::after {
  width: 100%;
}

.icons i {
  font-size: 27px;
  margin: 0 10px;
  color: var(--text-color);
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.icons i:hover {
  color: var(--button-color);
  transform: scale(1.2);
}

/*============= banner ==============*/
.banner {
  margin: 80px 0 0 0;
}
.banner img {
  height: 400px;
  display: block;
  margin: auto;
  object-fit: cover;
  border: 2px solid black;
}

.banner button {
  background-color: var(--button-color);
  color: var(--button-text-color);
  height: 45px;
  width: 160px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  display: block;
  margin: auto;
  margin-top: 30px;
}

.banner button:hover {
  background-color: red;
}

.banner button:active {
  font-size: 15px;
}

/*============= showtime ==============*/

.show-time h3 {
  text-align: center;
  text-transform: capitalize;
  margin-top: 80px;
  font-size: 30px;
  color: var(--text-color);
}

.show-time p {
  margin-top: 5px;
  text-align: center;
  color: var(--description-color);
}

.show-time-cards-container {
  display: flex;
  flex-wrap: wrap;
}

.show-time-card {
  background-color: var(--cards-background-color);
  height: 450px;
  width: 250px;
  padding: 40px;
  margin: 50px 20px;
  border-radius: 10px;
  border: 1px solid var(--description-color);
}

.show-time-card img {
  height: 300px;
  display: block;
  margin: auto;
  border: 1px solid black;
}

.show-time-card h3 {
  font-size: 18px;
  margin: 15px 0 0 0;
  color: var(--text-color);
}

.show-time-card p {
  color: var(--description-color);
  font-size: 17px;
  margin: 5px 0;
}

.show-time-card button {
  background-color: var(--button-color);
  color: var(--button-text-color);
  height: 45px;
  width: 200px;
  border: none;
  border-radius: 5px;
  font-size: 17px;
  display: block;
  margin: auto;
  margin-top: 10px;
}

.show-time-card button:hover {
  background-color: red;
}

.show-time-card button:active {
  font-size: 16px;
}
